body{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 20px 20px 0 20px;
    background-color: #242831;
}

#mainTit{
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}

#mainSubtit{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}

#diffMenu{
    margin-bottom: 10px;
}

button ~ button{
    margin-left: 5px;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    border: black .5px solid;
    border-radius: 3px;
    font-weight: bold;
}

.tableBut{
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: black .5px solid;
    overflow: hidden;
    height: 25px;
    width: 25px;
    background-color: #EEF1EF;
    border-radius: 3px;
    font-weight: 900;
}

.tableBut:active{
    background-color: #a7a1a1;
}

#tablePos{
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}